page-transaction-details {
    ion-buttons {
        order: 1
    }
    .details{
        background-color:color($colors,semilight);
        padding:$mainMarg;
        @extend %boxShadow;
        .grid{
            padding:0px;
            margin-bottom:20px;
            .col{
                padding:$mainMarg/4 0px;
                p{
                    margin:0px;
                    color: color($colors,color5);
                    line-height:16px;
                }
                &:first-of-type{
                    p{
                        font-weight:500;
                    }
                }
            }
        }
    }
    .content-ios{
        .details{
            background-color:color($colors,semilight);
            padding:$mainMarg;
            @extend %boxShadow;
            .grid{
                padding:0px;
                margin-bottom:20px;
                .col{
                    padding:$mainMarg/4 0px;
                    p{
                        margin:0px;
                        color: color($colors,color5);
                        line-height:16px;
                    }
                    &:first-of-type{
                        p{
                            font-weight:500;
                        }
                    }
                }
            }
        }
    }
}